{
   "semi": true,
   "singleQuote": true,
   "tabWidth": 3,
   "trailingComma": "es5",
   "bracketSameLine": true,
   "arrowParens": "always",
   "singleAttributePerLine": false,
   "printWidth": 80,
   "overrides": [
      {
         "files": "*.css",
         "options": {
            "tabWidth": 2
         }
      }
   ]
}
