@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* ----- COLORS ----- */
  --clr-prim: #ffffff;
  --clr-sec: #000000;
  --clr-accent: var(--clr-purple-800);
  --clr-accent-sec: var(--clr-green-600);

  /* More colors in colors.css */

  /* ----- FONTS ----- */
  --ff-sans: 'Poppins', sans-serif;
  --ff-serif: 'Playwrite GB S', cursive;

  /* NOT USEFUL SINCE TAILWIND */

  --fs-100: 0.875rem; /* 14px */
  --fs-400: 1rem; /* 16px */
  --fs-450: 1.125rem; /* 18px */
  --fs-500: 1.25rem; /* 20px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 1.75rem; /* 28px */
  --fs-800: 2rem; /* 32px */
  --fs-900: 3rem; /* 48px */

  /* ----- SPACING ----- */
  --space-050: 0.125rem; /* 2px */
  --space-100: 0.25rem; /* 4px */
  --space-200: 0.5rem; /* 8px */
  --space-300: 0.75rem; /* 12px */
  --space-400: 1rem; /* 16px */
  --space-500: 1.5rem; /* 24px */
  --space-600: 2rem; /* 32px */
  --space-700: 2.5rem; /* 40px */
  --space-800: 3rem; /* 48px */
  --space-900: 3.5rem; /* 56px */
  --space-950: 5rem; /* 80px */

  --transtion-slowest: 1s;
  --transition-slower: 0.5s;
  --transition-normal: 0.3s;
  --transiton-faster: 0.2s;
  --transition-fastest: 0.1s;
}

body {
  min-height: 100svh;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
}

.wrapper--full-width {
  width: 100%;
}

.text-black {
  color: var(--clr-sec);
}
.text-white {
  color: var(--clr-prim);
}

.ff-sans {
  font-family: var(--ff-sans);
}
.ff-serif {
  font-family: var(--ff-serif);
}

a {
  color: var(--clr-accent);
}

header {
  padding-block: 1em;
  background-color: gray;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 3em;
}

.nav__link {
  display: block;
  padding: 0.25em;
  outline: 1px solid red;
}

.nav__link:hover {
  text-decoration: none;
}
